
.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
}

div.a {
    font-size: 300%;
    font-style: italic;
}

h1 {
  text-align: center;
}

p.intro{
  text-align: center;
  font-size: 48
}

 h2 {
  text-align:center;

 h3 {
   text-align: center;
 }
}
IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto
  }
p {
  font-family: sans-serif;
}
li {
  font-family: sans-serif;
}

img.displayed {
  background-color: black;
}
